  <div>
    <form id="form-partitions">
      <span><input type="radio" ng-model="$ctrl.srv.type" value="single">single partition</input></span>
      <span><input type="radio" ng-model="$ctrl.srv.type" value="equal">equal partitions</input><input ng-model="$ctrl.srv.partitionNums" class="input-parteq" type="number" min="2" max="12" required="true"></input></span>
      <!-- <input type="submit"> -->
    </form>
  </div>
  <div>
    <span><input ng-model="$ctrl.srv.orientation" type="radio" value="hrz">horizontal</input></span>
    <span><input ng-model="$ctrl.srv.orientation" type="radio" value="vrt">vertical</input></span>
  </div>
  <button ng-click="$ctrl.show()">snarf</button>
